<div class="d-flex text-center text-white bg-dark" style="height: 98vh;">
  <div class="d-flex w-100 flex-column">

    <header class="mb-auto"></header>

    <main class="px-8 description-section">
      <h1>Who am I?</h1>
      <p class="lead">
        I'm an software engineer who has experiences in web and mobile application development using .NET
      </p>
    </main>

    <main class="px-8 description-section">
      <h1>Skills</h1>

      <div class="skill-section">
        Backend / API : ASP .Net & .Net Core
      </div>

      <div class="skill-section">
        Database : SQL Server, MySQL, SQLLite & Firebase Realtime Database
      </div>

      <div class="skill-section">
        Frontend : Angular Typescript & Bootstrap
      </div>

      <div class="skill-section">
        Mobile : Xamarin Form (Android & iOS), Xamarin Android
      </div>

      <div class="skill-section">
        Cloud : Azure Cloud App Service, Azure Blob Storage, Azure Active Directory, Azure Event Hub, Azure Application
        Insight, Azure DevOps
      </div>

      <div class="skill-section">
        Cloud Messaging : Firebase Push Notification
      </div>

      <div class="skill-section">
        Others : App Center, Apple Testflight, Tesseract, Syncfusion, Entity Framework, Petapoco, Terraform, Sonarcloud
      </div>
    </main>

    <p class="lead">
      <a href="mailto:marthinchristianz@gmail.com" class="btn btn-lg btn-primary">Contact me</a>
    </p>

    <footer class="mt-auto text-white-50">
      <p class="text-center"> Copyright &copy;
        <script>{ { anio } }</script> Marthin CH
      </p>
    </footer>

  </div>
</div>